.mantineModalRoot {
  display: flex;
  justify-content: center;
}

.mantineModalBody {
  padding: 0;
  width: 100vw;
  max-width: 500px;
}

.mantineModalInner {
  max-width: 500px;
}

.mantineModalHeader {
  display: none;
}

.fullModalHeader {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid var(--color-border-gray0);

  .title {
    justify-self: center;
    color: var(--color-cast-text-high);
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
  }
}
