.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .signupLink {
      font-size: 14px;
      color: var(--color-primary);
      text-decoration: underline;
    }
  }
}
