.topContainer {
  width: 100%;
  height: 100svh;
  padding: 30px;
  background-image: url('/images/topVisual.webp');
  background-size: cover;
  position: relative;

  .caution {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-text-white);
  }
  .actions {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .logo {
      width: 300px;
    }
  }
}
