:root {
  /* bg-colors */
  --bg-color-white: #ffffff;
  --bg-color-pink: #fcdce0;
  --bg-color-gray: #808080;
  --bg-color-black: #333333;
  --bg-color-light-purple: #dee1f1;

  /* theme colors */
  --color-primary: #f18d9a;
  --color-baby-blue: #a2cffe;

  /* text colors */
  --color-text-white: #ffffff;
  --color-text-black: #333333;
  --color-text-purple: #ae83ce;

  /* border colors */
  --border-color-gray: #d3d3d3;

  /* state colors */
  --disabled-color: #838383;
}
