.container {
  display: flex;
  background-color: var(--bg-color-pink);
  justify-content: center;

  .content {
    max-width: 500px;
    min-height: 100svh;
    background-color: var(--bg-color-white);
    width: 100%;
  }
}
